<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.mapper.BlogMapper">
    <select id="selectBlogListByUserOrAnonymous" resultMap="blogMap">
        SELECT
        Blog.id as blog_id,
        Blog.title as blog_title,
        Blog.description as blog_description,
        Blog.content as blog_conent,
        Blog.updated_at as blog_updated_at,
        Blog.created_at as blog_created_at,
        user.id as user_id,
        user.username as user_username,
        user.avatar as user_avatar,
        user.updated_at as user_updated_at,
        user.created_at as user_created_at
        FROM Blog
        LEFT OUTER JOIN user
        ON Blog.user_id = user.id
        <if test="user_id != null">
            WHERE Blog.user_id = #{user_id}
        </if>
    </select>
    <select id="selectBlogById" resultMap="blogMap">
        SELECT Blog.id          as blog_id,
               Blog.title       as blog_title,
               Blog.description as blog_description,
               Blog.content     as blog_content,
               Blog.updated_at  as blog_updated_at,
               Blog.created_at  as blog_created_at,
               user.id          as user_id,
               user.username    as user_username,
               user.avatar      as user_avatar,
               user.updated_at  as user_updated_at,
               user.created_at  as user_created_at
        FROM Blog
                 LEFT OUTER JOIN user
                                 ON Blog.user_id = user.id
        WHERE Blog.id = #{id}
    </select>
    <resultMap id="blogMap" type="hello.entity.Blog">
        <id property="id" column="blog_id"/>
        <result property="title" column="blog_title"/>
        <result property="description" column="blog_description"/>
        <result property="content" column="blog_content"/>
        <result property="updatedAt" column="blog_updated_at"/>
        <result property="createdAt" column="blog_created_at"/>
        <association property="user" javaType="hello.entity.user.User">
            <id property="id" column="user_id"/>
            <result property="username" column="user_username"/>
            <result property="avatar" column="user_avatar"/>
            <result property="updatedAt" column="user_updated_at"/>
            <result property="createdAt" column="user_created_at"/>
        </association>
    </resultMap>
</mapper>